{% extends "main.html" %}

{% block content %}

<h1>Welcome to Our Store!</h1>
<p>Browse our wide selection of products and enjoy exclusive discounts.</p>

<section>
    <h2>Featured Products</h2>
    <ul>
        {% for product in products %}
            <li>
                <img src="{{product.image.url}}" alt="{{ product.name }}">
                <h3>{{ product.name }}</h3>
                <p>Price: ${{ product.price }}</p>
                {% if product.digital %}
                    <p>Type: Digital Product</p>
                {% else %}
                    <p>Type: Physical Product</p>
                {% endif %}
            </li>
        {% empty %}
            <p>No products available at the moment. Please check back later!</p>
        {% endfor %}
    </ul>
</section>

{% endblock %}
