{% extends "main.html" %}

{% block content %}

{% load static %}
    <div class="product-grid">
        {% for product in products %}
        <div class="product-card">
            <img class="product-thumbnail" src="{{product.imageURL}}" alt="{{product.name}}">
            <div class="product-info">
                <h6 class="product-name"><strong>{{product.name}}</strong></h6>
                <hr class="divider">
                <button data-product={{product.id}} data-action="add" class="add-btn update-cart">Add to Cart</button>
                <a class="view-btn" href="#">View</a>
                <h4 class="product-price">${{product.price}}</h4>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
