<!DOCTYPE html>
{% load static %}

<head>
    <title>
        Patel Store
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="icon" href="data:,">


</head>

<body>

    <!--Navbar-->
    <header>
        <nav>
            <a href="{% url 'home' %}">Patel Store</a>
            <div>
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li>
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <a><button type="submit">Logout</button></a>
                            </form>
                        </li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    {% endif %}
                        <li><a href="{% url 'cart' %}">
                            <img id="cart-icon" src="{% static 'images/cart.png' %}" height="10" width="10">
                            <p id="cart-total">{{cartItems}}</p>
                        </a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!--Main Content-->
    <main>
        {% block content %}
        <!-- Page-specific content goes here -->
        {% endblock %}
    </main>

    <!--Footer-->
    <footer>
        <p>&copy; 2024 E-commerce Site</p>
    </footer>

    <!-- Inject user variable -->
    <script>
        var user = "{{ request.user|escapejs }}";
        function getToken(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getToken('csrftoken')

        function getCookie(name) {
		    // Split cookie string and get all individual name=value pairs in an array
		    var cookieArr = document.cookie.split(";");

		    // Loop through the array elements
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Decode the cookie value and return
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Return null if not found
		    return null;
		}
		var cart = JSON.parse(getCookie('cart'))

		if (cart == undefined){
			cart = {}
			console.log('Cart Created!', cart)
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		console.log('Cart:', cart)
        
    </script>

    <!-- Include external JavaScript -->
    <script src="{% static 'js/cart.js' %}"></script>

</body>

</html>